.scroll-main {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  .example-viewport {
    flex: 1;
  }

  .example-item {
    height: 50px;
  }
}
.search {
  height: 64px;
  border-bottom: 1px solid;
  display: flex;
  flex-direction: column;
  .item{
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .checkbox {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  .item1{
    display: flex;
    flex-direction: column;
    padding: 0 5px;
  }
}
.range-picker-content {
  display: flex;
  align-items: center;
  p {
    white-space: nowrap;
    padding: 0;
    margin: 0;
  }
}
