<div class="scroll-main ">
  <!-- <div>{{component$ | async | json}}</div> -->
  <div class="search">
    <label nz-checkbox [(ngModel)]="search.done" (click)="onSerach()">已</label>
    <label nz-checkbox [(ngModel)]="search.unDone" (click)="onSerach()">未</label>
  </div>
  <div class="project">
    <nz-select nzSize="large" nzPlaceHolder="请选择项目" [(ngModel)]="projectId" (ngModelChange)="selectProject()"
      [nzDisabled]="appS.edit">
      <nz-option [nzValue]="item.value" [nzLabel]="item.label" *ngFor="let item of (projects$ | async)?.data">
      </nz-option>
    </nz-select>
  </div>
  <ul>
    <ng-container *ngFor="let item of (component$ | async)?.data">
      <li class="item" (click)="selectComponent(item.value)"
        *ngIf="componentName === null || componentName === item.value" [ngClass]="{'active': componentName === item.value}">
        <p>
          {{item.label}}
        </p>
        <i nz-icon nzType="up" nzTheme="outline"></i>
      </li>
    </ng-container>
  </ul>
  <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <ul class="menu-2">
      <li *cdkVirtualFor="let item of (bridge$ | async)?.data; index as i"
        [ngClass]="{'active': bridgeId === item.value}" (click)="selectBridge(item.value)" [@pageAnimations]="i"
        class="li">
        <div class="state-content">
          <div class="state">
            <ng-container *ngFor="let state of item.state">
              <div *ngIf="state === 0" style="background-color: #d9d9d9"></div>
              <div *ngIf="state === 1" style="background-color: #45b787"></div>
              <div *ngIf="state === 2" style="background-color: #51c4d3"></div>
              <div *ngIf="state === 3" style="background-color: #fcd337"></div>
              <div *ngIf="state === 4" style="background-color: #f34718"></div>
            </ng-container>
          </div>
        </div>
        <p>
          {{item.label}}
        </p>
      </li>
    </ul>
  </cdk-virtual-scroll-viewport>
</div>
