<div class="scroll-main ">
  <!-- <div>{{component$ | async | json}}</div> -->
  <div class="search">
    <div class="item">
      <label nz-checkbox [(ngModel)]="search.done" (nzCheckedChange)="onSerach()">已</label>
      <label nz-checkbox [(ngModel)]="search.unDone" (nzCheckedChange)="onSerach()">未</label>
      <span
        nz-popover
        nzPopoverTitle="高级筛选"
        [nzPopoverContent]="contentTemplate"
        nzPopoverPlacement="rightTop"
        nzPopoverTrigger="click"
        [(nzVisible)]="visible"
      ><i nz-icon nzType="funnel-plot" nzTheme="outline"></i>筛选</span>
    </div>
    <div class="item1">
      <span
      (click)="visible=!visible"
      [ngStyle]="{'text-decoration': !search.done ? 'line-through' : 'none'}">已：{{search.doneDate[0] || null | date: 'yyyy-MM-dd ~ '}}{{search.doneDate[1] || null | date: 'yyyy-MM-dd'}}</span>
      <span
      (click)="visible=!visible"
      >筑：{{search.castingDate[0] || null | date: 'yyyy-MM-dd ~ '}}{{search.castingDate[1] || null | date: 'yyyy-MM-dd'}}</span>
    </div>
  </div>
  <div class="project">
    <nz-select nzSize="large" nzPlaceHolder="请选择项目" [(ngModel)]="projectId" (ngModelChange)="selectProject()"
      [nzDisabled]="appS.edit">
      <nz-option [nzValue]="item.value" [nzLabel]="item.label" *ngFor="let item of (projects$ | async)?.data">
      </nz-option>
    </nz-select>
  </div>
  <ul class="menu-1" [@pageAnimations]="(component$ | async)?.data.length">
    <ng-container *ngFor="let item of (component$ | async)?.data">
      <li class="item" (click)="selectComponent(item.value)"
        *ngIf="componentName === null || componentName === item.value" [ngClass]="{'active': componentName === item.value}">
        <p>
          {{item.label}}
        </p>
        <i nz-icon nzType="up" nzTheme="outline"></i>
      </li>
    </ng-container>
  </ul>
  <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <ul class="menu-2" [@pageAnimations]="(bridge$ | async)?.data.length">
      <li *cdkVirtualFor="let item of (bridge$ | async)?.data; index as i"
         (click)="selectBridge(item.value)"
        >
        <div class="li" [ngClass]="{'active': bridgeId === item.value}">
          <div class="state-content">
            <div class="state">
              <ng-container *ngFor="let state of item.state">
                <div *ngIf="state === 0" style="background-color: #d9d9d9"></div>
                <div *ngIf="state === 1" style="background-color: #45b787"></div>
                <div *ngIf="state === 2" style="background-color: #51c4d3"></div>
                <div *ngIf="state === 3" style="background-color: #fcd337"></div>
                <div *ngIf="state === 4" style="background-color: #f34718"></div>
              </ng-container>
            </div>
          </div>
          <p>
            {{item.label}}
          </p>
        </div>
      </li>
    </ul>
  </cdk-virtual-scroll-viewport>
</div>
<ng-template #contentTemplate>
  <div>
    <div>
        <nz-select
        style="width: 100%;"
        [(ngModel)]="search.name"
        nzPlaceHolder="输入梁号"
        nzAllowClear
        nzShowSearch
        [nzServerSearch]="true"
        (nzOnSearch)="nameSearch($event)"
        (ngModelChange)="selectBridge($event); visible = false;"
      >
        <nz-option *ngFor="let item of bridgeSearchName" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
      </nz-select>
    </div>
    <div class="range-picker-content">
      <p>任务状态：</p>
      <label nz-checkbox [(ngModel)]="search.done" (nzCheckedChange)="onSerach()">已完成</label>
      <label nz-checkbox [(ngModel)]="search.unDone" (nzCheckedChange)="onSerach()">未完成</label>
    </div>
    <br>
    <div class="range-picker-content">
      <p>完成日期：</p>
      <nz-range-picker
        [nzRanges]="ranges1"
        [nzDisabled]="!search.done" [(ngModel)]="search.doneDate" (ngModelChange)="onFilterDate($event, 'done')"></nz-range-picker>
    </div>
    <br>
    <div class="range-picker-content">
      <p>浇筑日期：</p>
      <nz-range-picker
        [nzRanges]="ranges1"
        [(ngModel)]="search.castingDate" (ngModelChange)="onFilterDate($event,'unDone')"></nz-range-picker>
    </div>
  </div>
</ng-template>
