<main class="setting">
  <div style="display: flex; flex-direction: column;">
    <link-base [linkName]="'groutingLink'" [heartbeatAddress]="0"></link-base>
  </div>
  <div>
    <nz-divider style="min-width: auto;" nzText="设备" nzOrientation="left"></nz-divider>
    <app-form-item label="环境温度">
      <nz-switch (ngModelChange)="devicesSet()" [(ngModel)]="devices.envTemperature" nzCheckedChildren="有" nzUnCheckedChildren="无"></nz-switch>
    </app-form-item>
    <app-form-item label="浆液温度">
      <nz-switch (ngModelChange)="devicesSet()" [(ngModel)]="devices.slurryTemperature" nzCheckedChildren="有" nzUnCheckedChildren="无"></nz-switch>
    </app-form-item>
    <app-form-item label="水温度">
      <nz-switch (ngModelChange)="devicesSet()" [(ngModel)]="devices.waterTemperature" nzCheckedChildren="有" nzUnCheckedChildren="无"></nz-switch>
    </app-form-item>

    <app-form-item label="进浆压力">
      <nz-switch (ngModelChange)="devicesSet()" [(ngModel)]="devices.intoPulpPressure" nzCheckedChildren="有" nzUnCheckedChildren="无"></nz-switch>
    </app-form-item>
    <app-form-item label="回浆压力">
      <nz-switch (ngModelChange)="devicesSet()" [(ngModel)]="devices.outPulpPressure" nzCheckedChildren="有" nzUnCheckedChildren="无"></nz-switch>
    </app-form-item>
    <app-form-item label="进浆量">
      <nz-switch (ngModelChange)="devicesSet()" [(ngModel)]="devices.intoPulpvolume" nzCheckedChildren="有" nzUnCheckedChildren="无"></nz-switch>
    </app-form-item>
    <app-form-item label="回浆量">
      <nz-switch (ngModelChange)="devicesSet()" [(ngModel)]="devices.outPulpvolume" nzCheckedChildren="有" nzUnCheckedChildren="无"></nz-switch>
    </app-form-item>
    <app-form-item label="曲线高度">
      <input nz-input type="number" nzSize="large" [(ngModel)]="devices.svgHeight" (change)="devicesSet()"/>
    </app-form-item>
  </div>
</main>
