<app-left>
    <!-- {{appS.sss('变更')}} -->
  <div class="sider sider-menu">
    <app-left-menu [dbName]="dbName" (menuChange)="onMneu($event)" [menuFilter]="menuFilter" #leftMenu></app-left-menu>
  </div>
  <div class="main">
    <app-operat
      *ngIf="appS.userInfo?.id === data.id || appS.userInfo?.jurisdiction > data.jurisdiction"
      [addState]="appS.userInfo?.jurisdiction"
      [dbName]="dbName"
      [formData]="formData"
      [valid]="formData.valid"
      (outEdit)="edit($event)"
      (outEditOk)="editOk($event)"
      (outCancelEdit)="editOk(null)"
      ></app-operat>

    <form nz-form class="form-edit" [ngClass]="{'edit-on': appS.edit}" [formGroup]="formData">

      <app-form-item label="名称" [errors]="formData.get('name').errors" [row]="true">
        <input type="text" nz-input placeholder="请输入名称" formControlName="name">
      </app-form-item>

      <app-form-item label="密码" [errors]="formData.get('password').errors" [row]="true">
        <input type="password" nz-input placeholder="请输入密码" formControlName="password">
      </app-form-item>

      <app-form-item label="权限" [row]="true">
        <nz-radio-group formControlName="jurisdiction" [nzDisabled]="appS.userInfo?.jurisdiction === 0">
          <label nz-radio [nzValue]="8" *ngIf="appS.userInfo?.jurisdiction === 9">管理员</label>
          <label nz-radio [nzValue]="1">技术员</label>
          <label nz-radio [nzValue]="0">操作员</label>
        </nz-radio-group>
      </app-form-item>

      <app-form-item label="操作" [row]="true" *ngIf="formData.value.jurisdiction === 0">
        <nz-checkbox-wrapper style="width: 100%;"  (nzOnChange)="selectOperation($event)">
          <label [nzDisabled]="appS.userInfo?.jurisdiction === 0" nz-checkbox nzValue="a" [nzChecked]="formData.value.operation.indexOf('a') !== -1">添加</label>
          <label [nzDisabled]="appS.userInfo?.jurisdiction === 0" nz-checkbox nzValue="m" [nzChecked]="formData.value.operation.indexOf('m') !== -1">修改</label>
          <label [nzDisabled]="appS.userInfo?.jurisdiction === 0" nz-checkbox nzValue="d" [nzChecked]="formData.value.operation.indexOf('d') !== -1">删除</label>
        </nz-checkbox-wrapper>
      </app-form-item>

      <div class="edit" *ngIf="!appS.edit"></div>
    </form>
  </div>
</app-left>
<app-delete-modal *ngIf="deleteShow" (outDelete)="deleteOk($event)"></app-delete-modal>
