<div class="layout">
  <header>
    <div class="left" (click)="power()" style="cursor: pointer">
      <div class="logo">
        <nz-avatar [nzSize]="56" nzShape="square" [nzSrc]="'./' + appS.info.unit.logo"></nz-avatar>
      </div>
      <div class="user">
        <p>
          {{appS.userInfo?.name || '非法登录'}}
        </p>
      </div>
    </div>
    <div class="main">
      <ng-container *ngFor="let item of appS.menus">
        <div class="icon" *ngIf="!PLCS.connStr?.uid  || (!item.uid || PLCS.connStr?.uid === item.uid)" [ngClass]="{'active': item.url === (routerInfo$ | async).url}"
          (click)="goUrl(item.url)">
          <i [attr.class]="'iconfont ' + item.icon"></i>
          <div class="text">{{item.name}}</div>
        </div>
      </ng-container>
      <div class="icon" (click)="appS.dataTreatingShow = true">
        <i class="iconfont icon-shuju"></i>
        <div class="text">数据</div>
      </div>
    </div>
  </header>
  <main>
    <div style="flex: 1; height: 100%;" [@routeAnimation]="appS.nowUrl">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

<app-data-treating *ngIf="appS.dataTreatingShow"></app-data-treating>
