<div *ngIf="data?.mixingInfo?.length > 0">
  <nz-divider style="min-width: auto;" nzText="搅拌数据" nzOrientation="center"></nz-divider>
  <form nz-form [formGroup]="formData">
    <table class="gridtable">
      <thead>
        <tr>
          <th >名称/用量(kg)</th>
          <th>起止时间</th>
          <th>搅拌用时(s)</th>
          <th>水胶比</th>
          <th>水/环境温度(℃)</th>
          <th>初始流动度/流动度(s)</th>
          <th>泌水率(%)</th>
          <th>黏稠度(%)</th>
        </tr>
      </thead>
      <tbody formArrayName="mixingInfo">
        <ng-container *ngFor="let item of mixingInfoForm.controls; index as i" [formGroupName]="i">
          <tr>
            <td>
              <ng-container *ngFor="let prop of data.proportionInfo.proportions; index as popi">
                <div class="row" formArrayName="dosage">
                  <nz-input-group [nzAddOnBefore]="prop.name">
                    <input type="number" nz-input [formControlName]="popi" />
                  </nz-input-group>
                </div>
              </ng-container>
            </td>
            <td>
              <div class="row">
                起&nbsp; <nz-date-picker readonly nzShowTime formControlName="startDate" [nzAllowClear]="false"></nz-date-picker>
              </div>
              <div class="row">
                止&nbsp; <nz-date-picker readonly nzShowTime formControlName="endDate" [nzAllowClear]="false"></nz-date-picker>
              </div>
            </td>
            <td><input type="number" nz-input placeholder="搅拌时间" formControlName="mixingTime" ></td>
            <td><input type="number" nz-input placeholder="水胶比" formControlName="waterBinderRatio"></td>
            <td>
              <div class="row">
                水&nbsp;<input type="number" nz-input placeholder="水温度" formControlName="waterTemperature">
              </div>
              <div class="row">
                环&nbsp;<input type="number" nz-input placeholder="环境温度" formControlName="envTemperature">
              </div>
            </td>
            <td>
              <div class="row">
                初&nbsp;<input type="number" nz-input placeholder="初始流动度" formControlName="initFluidity">
              </div>
              <div class="row">
                流&nbsp;<input type="number" nz-input placeholder="流动度" formControlName="fluidity">
              </div>
            </td>
            <td><input type="number" nz-input placeholder="泌水率" formControlName="bleedingRate"></td>
            <td><input type="number" nz-input placeholder="黏稠度" formControlName="viscosity"></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </form>
</div>
