<nz-modal [nzVisible]="true" nzTitle="选择模板" (nzOnCancel)="cancel.emit()" (nzOnOk)="ok()" nzWidth="85%">
  <div class="item">
    <span >选择项目：</span>
    <nz-radio-group [(ngModel)]="projectId" (ngModelChange)="selectProject()" nzSize="large">
      <label nz-radio [nzValue]="c.value" *ngFor="let c of projectMenu$ | async">{{c.label}}</label>
    </nz-radio-group>
  </div>
<br>
  <div class="item">
    <span>选择模板：</span>
    <nz-radio-group [(ngModel)]="select" nzSize="large">
      <label nz-radio nzSize="large" [nzValue]="c.value" *ngFor="let c of templateMenu$ | async">{{c.label}}</label>
    </nz-radio-group>
  </div>
</nz-modal>
