<div class="plc-state">
  <div class="item" style="color: white;" [hidden]="!(appS.platform === 'tension' || appS.platform === 'grouting') || e.isWindows">{{time$ | async}}</div>

  <div class="item" *ngIf="GPLCS.linkMsg.link" [ngClass]="{'active': GPLCS.linkMsg.link}">压:{{GPLCS.linkMsg.delayTime}}</div>
  <button nz-button nzType="dashed" [nzLoading]="GPLCS.linkMsg.now"
    *ngIf="(appS.platform === 'grouting' || appS.platform === 'debug') && !GPLCS.linkMsg.link"
    (click)="GPLCS.linkSocket()">压浆链接</button>
</div>
<router-outlet></router-outlet>
<nz-modal [nzVisible]="appS.powerState" nzTitle="" [nzFooter]="null" [nzMaskClosable]="!appS.powerDelayT" nzClosable="false" (nzOnCancel)="appS.powerState = false">
  <div class="power-btn">
    <ng-container *ngIf="!appS.powerDelayT">
      <button class="login-out" (click)="loginOut()"> <i nz-icon nzType="logout" style="color:dodgerblue"></i> 登 出 </button>
      <button *ngIf="e.isLinux" class="restart" (click)="power(false)"> <i nz-icon nzType="reload" style="color:lime"></i> 重 启 </button>
      <button *ngIf="e.isLinux" class="shutdown" (click)="power(true)"> <i nz-icon nzType="poweroff" style="color:brown"></i> 关 机</button>
      <button *ngIf="e.isLinux" class="login-out" (click)="appS.usb()"> <i nz-icon nzType="usb" style="color:beige"></i> 卸载U盘 </button>
    </ng-container>
    <ng-container *ngIf="appS.powerDelayT && appS.powerDelay">
      <h1 >{{appS.powerDelay}}s后{{appS.powerText}}！</h1>
      <button class="shutdown" (click)="cancle()"> <i nz-icon nzType="poweroff" style="color:brown"></i> 取 消</button>
    </ng-container>
    <h1 *ngIf="!appS.powerDelay">正在{{appS.powerText}}...</h1>
  </div>
</nz-modal>
<!-- <app-fomr [formDynamin]="formDynamic"></app-fomr> -->
