<div class="plc-state">
  <div *ngIf="!PLCS.tcp && (appS.platform === 'grouting' || appS.platform === 'debug' || appS.platform === 'windows')" class="btng">
    <!-- <div class="item" *ngIf="GPLCS.linkMsg.link" [ngClass]="{'active': GPLCS.linkMsg.link}">压:{{GPLCS.linkMsg.delayTime}}</div> -->
    <div class="bg" [ngClass]="{'stop': !GPLCS.linkMsg.link}" [ngStyle]="{'animation-duration': GPLCS.linkMsg?.delayTime || '0s'}"></div>
    <div class="msg">
      <span class="top">压浆</span>
      <span class="bottom">{{(tensionLink$ | async)?.msg || ''}}</span>
    </div>
    <button nz-button nzType="danger" *ngIf="GPLCS.linkMsg.link" (click)="PLCS.cancelLink()">取消链接</button>
    <button nz-button nzType="dashed"
      *ngIf="!GPLCS.linkMsg.link && appS.userInfo && !GPLCS.linkMsg.now"
    (click)="GPLCS.linkSocket()">压浆链接</button>
  </div>
  <div *ngIf="!GPLCS.linkMsg.link && (appS.platform === 'tension' || appS.platform === 'debug' || appS.platform === 'windows')" class="btng">
    <div class="bg" [ngClass]="{'stop': !PLCS.tcp}" [ngStyle]="{'animation-duration': (tensionLink$ | async)?.delayTime || '0s'}"></div>
    <div class="msg">
      <span class="top">张拉</span>
      <span class="bottom">{{(tensionLink$ | async)?.msg || ''}}</span>
    </div>
    <button nz-button nzType="dashed" *ngIf="!PLCS.tcp" (click)="PLCS.link('tensionLink')">张拉链接</button>
    <button nz-button nzType="danger" *ngIf="PLCS.tcp" (click)="cancleLink()">取消链接</button>
  </div>
</div>
<div style="height: 100%; width: 100%;" [@routeAnimation]="routerStateCode">
  <router-outlet></router-outlet>
</div>
<nz-modal [nzVisible]="appS.powerState" nzTitle="" [nzFooter]="null" [nzMaskClosable]="!appS.powerDelayT" nzClosable="false" (nzOnCancel)="appS.powerState = false">
  <div class="power-btn">
    <ng-container *ngIf="!appS.powerDelayT">
      <button class="login-out" (click)="loginOut()"> <i nz-icon nzType="logout" style="color:dodgerblue"></i> 登 出 </button>
      <button *ngIf="e.isLinux" class="restart" (click)="power(false)"> <i nz-icon nzType="reload" style="color:lime"></i> 重 启 </button>
      <button *ngIf="e.isLinux" class="shutdown" (click)="power(true)"> <i nz-icon nzType="poweroff" style="color:brown"></i> 关 机</button>
      <button *ngIf="e.isLinux" class="login-out" (click)="appS.usb()"> <i nz-icon nzType="usb" style="color:beige"></i> 卸载U盘 </button>
    </ng-container>
    <ng-container *ngIf="appS.powerDelayT && appS.powerDelay">
      <h1 >{{appS.powerDelay}}s后{{appS.powerText}}！</h1>
      <button class="shutdown" (click)="cancle()"> <i nz-icon nzType="poweroff" style="color:brown"></i> 取 消</button>
    </ng-container>
    <h1 *ngIf="!appS.powerDelay">正在{{appS.powerText}}...</h1>
  </div>
</nz-modal>
<!-- <app-fomr [formDynamin]="formDynamic"></app-fomr> -->
