<link-button *ngIf="e.isElectronApp"></link-button>

<div style="height: 100%; width: 100%;">
  <router-outlet></router-outlet>
</div>
<nz-modal *ngIf="e.isElectronApp" [nzVisible]="appS.powerState" nzTitle="" [nzFooter]="null" [nzMaskClosable]="!appS.powerDelayT" nzClosable="false" (nzOnCancel)="appS.powerState = false">
  <div class="power-btn">
    <ng-container *ngIf="!appS.powerDelayT">
      <button class="login-out" (click)="loginOut()"> <i nz-icon nzType="logout" style="color:dodgerblue"></i> 登 出 </button>
      <button *ngIf="e.isLinux" class="restart" (click)="power(false)"> <i nz-icon nzType="reload" style="color:lime"></i> 重 启 </button>
      <button *ngIf="e.isLinux" class="shutdown" (click)="power(true)"> <i nz-icon nzType="poweroff" style="color:brown"></i> 关 机</button>
      <button *ngIf="e.isLinux" class="login-out" (click)="appS.usb()"> <i nz-icon nzType="usb" style="color:beige"></i> 卸载U盘 </button>
    </ng-container>
    <ng-container *ngIf="appS.powerDelayT && appS.powerDelay">
      <h1 >{{appS.powerDelay}}s后{{appS.powerText}}！</h1>
      <button class="shutdown" (click)="cancle()"> <i nz-icon nzType="poweroff" style="color:brown"></i> 取 消</button>
    </ng-container>
    <h1 *ngIf="!appS.powerDelay">正在{{appS.powerText}}...</h1>
  </div>
</nz-modal>
<!-- <app-fomr [formDynamin]="formDynamic"></app-fomr> -->
<app-service-app-update *ngIf="e.isElectronApp"></app-service-app-update>

<nz-modal [nzVisible]="appS.codeState" nzTitle="注册码" [nzFooter]="null" nzClosable="false">
  <div >
    <h1>{{uuid}}</h1>
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
      <input type="text" nz-input placeholder="注册码" [(ngModel)]="code" nzSize="large" />
    </nz-input-group>
  </div>
</nz-modal>


<ng-template #suffixButton>
  <button nz-button nzType="primary" nzSize="large" (click)="codeFunc()" nzSearch>注 册</button>
</ng-template>
