<form nz-form [formGroup]="piFormGroup">
  <div formArrayName="proportions" class="other-info">
    <table class="gridtable" >
        <thead>
          <tr>
            <th>名称</th>
            <th>规格</th>
            <th>配比量</th>
            <th width="80px">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of proportionrFormArr.controls; index as i" [formGroupName]="i">
            <td ><input type="text" nz-input placeholder="名称" formControlName="name" [ngClass]="{'error': item.get('name').errors}"></td>
            <td ><input type="text" nz-input placeholder="规格" formControlName="type"></td>
            <td ><input [ngClass]="{'error': item.get('value').errors}" type="number" nz-input placeholder="配比量" formControlName="value" (input)="proportionCalculate()"></td>
            <td>
              <div style="display: flex; justify-content: center;" *ngIf="i > 2">
                <button nz-button nzType="default" nzShape="circle" (click)="del(i)"><i nz-icon nzType="close"></i></button>
              </div>
            </td>
          </tr>
          <tr>
            <td [attr.colspan]="edit ? 2 : 5">水胶比：{{piFormGroup.get('waterBinderRatio').value}}</td>
            <td *ngIf="edit" colspan="3">
              <button style="width: 100%;" nz-button nzType="primary" nzSearch (click)="add()" type="button">添 加</button>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
</form>
