<div *ngIf="groutingInfo && groutingInfo.length > 0">
  <nz-divider style="min-width: auto;" nzText="压浆数据" nzOrientation="left"></nz-divider>
  <nz-form-item *ngIf="groutingInfo" style="z-index: 2;">
    <nz-radio-group [nzButtonStyle]="'solid'" class="hole-groups">
      <label nz-radio-button [nzValue]="item" *ngFor="let item of groutingInfo; index as i" (click)="switchHole(item)"
        [ngClass]="{'hole-active': item.name === groupItem?.name}" [class]="'hole' + item.state"
        class="hole">
        <div *ngIf="item.uploading" class="template">
        </div>
        {{item.name}}</label>
    </nz-radio-group>
  </nz-form-item>
  <form nz-form [formGroup]="formData"  [hidden]="!groupItem">
    <div formArrayName="groutingInfo">
      <ng-container *ngFor="let item of groutingInfoFormArray.controls; index as i" [formArrayName]="i" >
        <div style="display: flex;flex-direction: column;" [hidden]="!(item.value.name === groupItem?.name)">
          <div>
            <app-form-item label="孔号">
              <input type="text" nz-input placeholder="请输入孔号" formControlName="name">
            </app-form-item>
            <app-form-item label="孔道内径">
              <input type="number" nz-input placeholder="请输入孔道内径" formControlName="holeDiameter">
            </app-form-item>
            <app-form-item label="孔道长度">
              <input type="number" nz-input placeholder="请输入孔道长度" formControlName="holeLength">
            </app-form-item>
            <app-form-item label="钢绞线数量">
              <input type="number" nz-input placeholder="请输入钢绞线数量" formControlName="steelStrandNum">
            </app-form-item>
          </div>
          <div>
            <app-add-other [formGroup]="item" [data]="groutingInfo[i]?.otherInfo || []" [edit]="appS.edit"></app-add-other>
          </div>
          <div >
            <grouting-record-item [formData]="formData" [index]="i" [data]="groutingInfo[i].groups"></grouting-record-item>
          </div>
        </div>
      </ng-container>
    </div>
  </form>
</div>
