<div *ngIf="groutingInfo && groutingInfo.length > 0">
  <nz-divider style="min-width: auto;" nzText="压浆数据" nzOrientation="left"></nz-divider>
  <nz-form-item *ngIf="groutingInfo" style="z-index: 2;">
    <nz-radio-group [nzButtonStyle]="'solid'" class="hole-groups">
      <label nz-radio-button [nzValue]="item" *ngFor="let item of groutingInfo; index as i" (click)="switchHole(item)"
        [ngClass]="{'hole-active': item.name === groupItem?.name}" [class]="'hole' + item.state"
        class="hole">
        <!-- <i nz-icon nzType="cloud" nzTheme="outline" style="color: #00E676" *ngIf="!item.uploading"></i> -->
        <div *ngIf="item.uploading" class="template">
        </div>
        {{item.name}}</label>
    </nz-radio-group>
  </nz-form-item>
  <form nz-form [formGroup]="formData"  [hidden]="!groupItem">
    <div formArrayName="groutingInfo">
      <ng-container *ngFor="let item of groutingInfoForm.controls; index as i" [formArrayName]="i" >
        <div style="display: flex;flex-direction: column;" [hidden]="!(item.value.name === groupItem?.name)">
          <div>
            <app-form-item label="梁号">
              <input type="text" nz-input placeholder="请输入梁号" formControlName="name">
            </app-form-item>
            <app-form-item label="孔道内径">
              <input type="number" nz-input placeholder="请输入孔道内径" formControlName="holeDiameter">
            </app-form-item>
            <app-form-item label="孔道长度">
              <input type="number" nz-input placeholder="请输入孔道长度" formControlName="holeLength">
            </app-form-item>
            <app-form-item label="钢绞线数量">
              <input type="text" nz-input placeholder="请输入钢绞线数量" formControlName="steelStrandNum">
            </app-form-item>
          </div>
          <div>
            <app-add-other [formGroup]="item" #otherInfo></app-add-other>
          </div>
          <div >
            <grouting-record-item #groutingrecorditem [formData]="formData" [index]="i" [GroutingHoleItem]="groupItem?.groups"></grouting-record-item>
          </div>
        </div>
      </ng-container>
    </div>

  </form>
</div>
