<div class="form-edit" [hidden]="!show">
  <nz-divider style="min-width: auto;" nzText="压浆记录" nzOrientation="left"></nz-divider>
  <form nz-form [ngClass]="{'form-edit': !appS.edit}" [formGroup]="formData">
    <nz-form-item>
      <nz-form-label [nzSm]="3">孔号</nz-form-label>
      <nz-form-control [nzSm]="5">
        <input type="text" nz-input placeholder="孔号" formControlName="name">
      </nz-form-control>

      <nz-form-label [nzSm]="3" >试验日期</nz-form-label>
      <nz-form-control [nzSm]="5">
        <nz-date-picker readonly [nzAllowClear]="false" class="revise-date" nzFormat="yyyy-MM-dd" formControlName="testDate"></nz-date-picker>
      </nz-form-control>

      <nz-form-label [nzSm]="3">压浆方向</nz-form-label>
      <nz-form-control [nzSm]="5">
        <input type="text" nz-input placeholder="压浆方向" formControlName="direction">
      </nz-form-control>

      <nz-form-label [nzSm]="3" >开始时间</nz-form-label>
      <nz-form-control [nzSm]="5">
        <nz-time-picker readonly  class="revise-date" formControlName="startDate" ></nz-time-picker>
      </nz-form-control>

      <nz-form-label [nzSm]="3" >结束时间</nz-form-label>
      <nz-form-control [nzSm]="5">
        <nz-time-picker readonly  class="revise-date" formControlName="endDate" ></nz-time-picker>
      </nz-form-control>

      <nz-form-label [nzSm]="3">压浆压力</nz-form-label>
      <nz-form-control [nzSm]="5">
        <input type="number" nz-input placeholder="压浆压力" formControlName="setMpa">
      </nz-form-control>

      <nz-form-label [nzSm]="3">稳压压力</nz-form-label>
      <nz-form-control [nzSm]="5">
        <input type="number" nz-input placeholder="稳压压力" formControlName="steadyMpa">
      </nz-form-control>



      <nz-form-label [nzSm]="3">停留时间</nz-form-label>
      <nz-form-control [nzSm]="5">
        <nz-input-group nzSuffix="s">
          <input type="number" nz-input placeholder="停留时间" formControlName="stayTime">
        </nz-input-group>
      </nz-form-control>

      <nz-form-label [nzSm]="3">稳压时间</nz-form-label>
      <nz-form-control [nzSm]="5">
        <nz-input-group nzSuffix="s">
          <input type="number" nz-input placeholder="稳压时间" formControlName="steadyTime">
        </nz-input-group>
      </nz-form-control>

      <nz-form-label [nzSm]="3">压浆料量</nz-form-label>
      <nz-form-control [nzSm]="5">
        <nz-input-group nzSuffix="kg">
          <input type="number" nz-input placeholder="压浆料量" formControlName="materialsTotal">
        </nz-input-group>
      </nz-form-control>

      <nz-form-label [nzSm]="3">水量</nz-form-label>
      <nz-form-control [nzSm]="5">
        <nz-input-group nzSuffix="kg">
          <input type="number" nz-input placeholder="水量" formControlName="waterTotal">
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="3">通过</nz-form-label>
      <nz-form-control [nzSm]="21">
        <input type="text" nz-input placeholder="通过" formControlName="pass">
      </nz-form-control>

      <nz-form-label [nzSm]="3">冒浆情况</nz-form-label>
      <nz-form-control [nzSm]="21">
        <input type="text" nz-input placeholder="冒浆情况" formControlName="msg">
      </nz-form-control>
    </nz-form-item>

    <app-add-other [validateForm]="formData" [keys]="otherKey" #otherInfo></app-add-other>
  </form>
  <div class="edit" [ngClass]="{'edit-on': appS.edit}" *ngIf="!appS.edit"></div>
</div>
