<nz-alert nzType="error" nzMessage="请进行张拉分组分组" *ngIf="groupsName?.length === 0"></nz-alert>
<div *ngIf="groupsName && groupsName?.length > 0">
    <nz-form-item *ngIf="groupsName" style="z-index: 2;">
      <nz-radio-group [nzButtonStyle]="'solid'" class="hole-groups" [@pageAnimations]="groupsName?.length" nzSize="large">
        <label nz-radio-button [nzValue]="item" *ngFor="let item of groupsName; index as i" (click)="switchHole(i)"
          [ngClass]="{'hole-active': item.name === groupItem?.name}" [class]="'hole' + item.state">
          <!-- <i nz-icon nzType="cloud" nzTheme="outline" style="color: #00E676" *ngIf="!item.uploading"></i> -->
          <div *ngIf="item.uploading" class="template">
          </div>
          {{item.name}}
        </label>
      </nz-radio-group>
    </nz-form-item>
  <form nz-form [formGroup]="formData" *ngIf="groupIndex !== null" @showAnimations >
    <div formArrayName="tensionHoleInfos">
      <div [formArrayName]="groupIndex">
        <div style="display: flow-root;" >
          <app-form-item label="孔号">
            <input type="text" readonly nz-input placeholder="请输入孔号" formControlName="name">
          </app-form-item>
          <app-form-item label="张拉工艺">
            <input type="number" nz-input placeholder="张拉工艺" formControlName="stretchDrawProcess">
          </app-form-item>
          <app-form-item label="张拉长度">
            <input type="number" nz-input placeholder="请输入张拉长度" formControlName="length">
          </app-form-item>
          <app-form-item label="钢绞线数量">
            <input type="number" nz-input placeholder="请输入钢绞线数量" formControlName="steelStrandNum">
          </app-form-item>
        </div>
        <div>
          <app-add-other [formGroup]="nowFromGroup" [edit]="appS.edit"></app-add-other>
        </div>
        <div>
          <tension-hole-task [formData]="nowFromGroup" [data]="groupItem"></tension-hole-task>
        </div>
      </div>
      <!-- <ng-container *ngFor="let item of tensionHoleInfosFormArray.controls; index as i" [formArrayName]="i">
        <div class="hole-group" [ngClass]="{'active': item.value.name === groupItem?.name}" [hidden]=" !(item.value.name === groupItem?.name)">
          <div>
            {{item.value.name}}=={{groupItem?.name}}
            <app-form-item label="孔号">
              <input type="text" readonly nz-input placeholder="请输入孔号" formControlName="name">
            </app-form-item>
            <app-form-item label="张拉工艺">
              <input type="number" nz-input placeholder="张拉工艺" formControlName="stretchDrawProcess">
            </app-form-item>
            <app-form-item label="张拉长度">
              <input type="number" nz-input placeholder="请输入张拉长度" formControlName="length">
            </app-form-item>
            <app-form-item label="钢绞线数量">
              <input type="number" nz-input placeholder="请输入钢绞线数量" formControlName="steelStrandNum">
            </app-form-item>
          </div>
          <div>
            <app-add-other [formGroup]="item" [edit]="appS.edit">
            </app-add-other>
          </div>
          <div>
            <tension-hole-task [formData]="item" [data]="tensionHoleInfos[i]" [index]="i"></tension-hole-task>
          </div>
        </div>
      </ng-container> -->
    </div>
  </form>
</div>
