
<form nz-form [formGroup]="formData" id="form">
  <div formArrayName="groutingInfo">
    <table class="gridtable" [formArrayName]="index">
      <thead>
        <tr>
          <th>压浆方向</th>
          <th>起止时间</th>
          <th>压浆压力(MPa)</th>
          <th>稳压时间(s)</th>
          <th>环境/浆液温度(℃)</th>
          <th>浆量(L)</th>
          <th>真空压力(MPa)</th>
          <th>真空循环时间(s)</th>
        </tr>
      </thead>
      <tbody formArrayName="groups">
        <ng-container *ngFor="let item of groutingInfoHoleFormArray.controls; index as i" [formGroupName]="i">
          <tr style="text-align: center;">
            <td colspan="10" style="background-color: #baccd9; color: #45b787;">第 {{i + 1}} 次压浆数据</td>
          </tr>
          <tr>
            <td><input type="text" nz-input placeholder="压浆方向" formControlName="direction"></td>
            <td>
              <div class="row">
                起&nbsp;<nz-date-picker nzShowTime formControlName="startDate" [nzAllowClear]="false"></nz-date-picker>
              </div>
              <div class="row">
                止&nbsp;<nz-date-picker nzShowTime formControlName="endDate" [nzAllowClear]="false"></nz-date-picker>
              </div>
            </td>
            <td>
              <div class="row">
                设&nbsp;<input type="number" nz-input placeholder="设置压力" formControlName="setGroutingPressure">
              </div>
              <div class="row">
                进&nbsp;<input type="number" nz-input placeholder="进浆压力" formControlName="intoPulpPressure">
              </div>
              <div class="row">
                回&nbsp;<input type="number" nz-input placeholder="回浆压力" formControlName="outPulpPressure">
              </div>
            </td>
            <td><input type="number" nz-input placeholder="稳压时间(s)" formControlName="steadyTime"></td>
            <td>
              <div class="row">
                环&nbsp;<input type="number" nz-input placeholder="环境温度" formControlName="envTemperature">
              </div>
              <div class="row">
                浆&nbsp;<input type="number" nz-input placeholder="浆液温度" formControlName="slurryTemperature">
              </div>
            </td>
            <td>
              <div class="row">
                设&nbsp;<input type="number" nz-input placeholder="理论浆量" formControlName="setPulpvolume">
              </div>
              <div class="row">
                进&nbsp;<input type="number" nz-input placeholder="进浆量" formControlName="intoPulpvolume">
              </div>
              <div class="row">
                回&nbsp;<input type="number" nz-input placeholder="回浆量" formControlName="outPulpvolume">
              </div>
            </td>
            <td>
              <div class="row">
                设&nbsp;<input type="number" nz-input placeholder="设置真空" formControlName="setVacuumPumpPressure">
              </div>
              <div class="row">
                稳&nbsp;<input type="number" nz-input placeholder="真空稳压压力" formControlName="vacuumPumpPressure">
              </div>
            </td>
            <td><input type="number" nz-input placeholder="真空循环时间(s)" formControlName="cycletime"></td>
          </tr>
          <tr>
            <td colspan="10">
              <div style="display: flex; flex-direction: column;">
                <div>
                  <app-form-item label="通过情况">
                    <input type="text" nz-input placeholder="通过情况" formControlName="passMsg">
                  </app-form-item>
                  <app-form-item label="冒浆情况">
                    <input type="text" nz-input placeholder="冒浆情况" formControlName="slurryEmittingMsg">
                  </app-form-item>
                  <app-form-item label="其他说明">
                    <input type="text" nz-input placeholder="其他说明" formControlName="remarks">
                  </app-form-item>
                </div>
                <div>
                  <app-add-other [formGroup]="item" [data]="data[i].otherInfo || []" [edit]="appS.edit"></app-add-other>
                </div>
                <div>
                  <echarts-dynamic-line-grouting
                    *ngIf="data && data[i]?.processDatas"
                    [data]="data[i]?.processDatas"
                    [satrtDate]="data[i].startDate"
                  ></echarts-dynamic-line-grouting>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</form>
