<div style="display: flex; flex-direction: column;">
  <!-- <p>{{device | json}}</p> -->
  <div>
    <app-form-item [label]="'张拉段数' + stageNumber" *ngIf="appS.edit && state === 0">
      <nz-select style="width: 100%;" [(ngModel)]="stageNumber" (ngModelChange)="stageChange()">
        <nz-option [nzValue]="3" nzLabel="3段" [nzDisabled]="twice"></nz-option>
        <nz-option [nzValue]="4" nzLabel="4段"></nz-option>
        <nz-option [nzValue]="5" nzLabel="5端"></nz-option>
      </nz-select>
    </app-form-item>
  </div>
  <form nz-form [formGroup]="formData" *ngIf="msgFormArray">
    <div formArrayName="stage">
      <table class="gridtable">
        <thead>
          <tr>
            <th width="100">孔号</th>
            <th width="100">顶</th>
            <ng-container *ngFor="let item of msgFormArray?.getRawValue(); index as i" >
              <th
                [ngClass]="{'twice': item === '阶段二' && twice, 'super': superState && item === '超张拉', 'mend': mend && item === '补张拉'}">
                <div>{{item}}{{'|' + knPercentageFormArray.value[i]}}%</div>
                <div *ngIf="appS.edit" formArrayName="knPercentage">
                  <app-form-item [row]="true" [errors]="item.errors" [errorShow]="false">
                    <nz-input-group nzAddOnAfter="%">
                      <input type="number" nz-input [formControlName]="i" [readonly]="i === 1" (input)="inputStage($event, i)" >
                    </nz-input-group>
                  </app-form-item>
                </div>
              </th>
            </ng-container>
            <th width="100">
              <div>卸荷{{'|' + stageGroup.get('uploadPercentage').value}}%</div>
              <div *ngIf="appS.edit">
                <app-form-item [row]="true" [errorShow]="false">
                  <nz-input-group nzAddOnAfter="%">
                    <input nz-input formControlName="uploadPercentage" >
                  </nz-input-group>
                </app-form-item>
              </div>
            </th>
            <th width="100">回缩量mm</th>
            <th width="100">工作长度mm</th>
            <th width="100">理论申长量mm</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of strMode; index as keyi">
            <!-- <td [attr.rowspan]="holeNames.span" *ngIf="(holeNames.span === 2 && item.indexOf('1') > -1) || holeNames.span === 1">{{holeNames[item]}}</td> -->
            <td class="key" [attr.rowspan]="holeNames.span" *ngIf="holeNames.keys.indexOf(item) !== -1">{{holeNames[item]}}</td>
            <td class="key">{{item}}</td>
            <td *ngFor="let stage of knPercentageFormArray.value">
              <div class="kn-color">{{(tensionKn * (stage / 100)) | ToFixedr}}<sub>Kn</sub> </div>
              <div class="mpa-color">{{(tensionKn * (stage / 100)) | kn2mpa: device: item}}<sub>MPa</sub> </div>
            </td>
            <td>
              <div class="kn-color">{{(tensionKn * (stageGroup.get('uploadPercentage').value / 100)) | ToFixedr}}<sub>Kn</sub> </div>
              <div class="mpa-color">{{(tensionKn * (stageGroup.get('uploadPercentage').value / 100)) | kn2mpa: device: item}}<sub>MPa</sub> </div>
            </td>
            <ng-container [formGroupName]="item">
              <td>
                <div>
                  <div *ngIf="!appS.edit">{{stageGroup.get(item).value.reboundMm}}</div>
                  <div *ngIf="appS.edit">
                    <app-form-item [row]="true" [errorShow]="false">
                      <input type="number" nz-input formControlName="reboundMm" (input)="inputWordmm($event, keyi, 'reboundMm')">
                    </app-form-item>
                  </div>
                </div>
              </td>
              <td>
                <div *ngIf="!appS.edit">{{stageGroup.get(item).value.wordMm}}</div>
                <div *ngIf="appS.edit">
                  <app-form-item [row]="true" [errorShow]="false">
                    <input type="number" nz-input formControlName="wordMm" (input)="inputWordmm($event, keyi, 'wordMm')">
                  </app-form-item>
                </div>
              </td>
              <!-- <td [attr.rowspan]="holeNames.span === 3 ? 2 : holeNames.span" *ngIf="(holeNames.span === 2 && item.indexOf('1') > -1) || holeNames.span === 1"> -->
              <td [attr.rowspan]="holeNames.span" *ngIf="holeNames.keys.indexOf(item) !== -1">
                <div *ngIf="!appS.edit">{{stageGroup.get(item).value.theoryMm}}</div>
                <div *ngIf="appS.edit">
                  <app-form-item [row]="true" [errorShow]="false">
                    <input type="number" nz-input formControlName="theoryMm" (input)="inputWordmm($event, keyi, 'theoryMm')">
                  </app-form-item>
                </div>
              </td>
            </ng-container>
          </tr>
          <tr>
            <td colSpan="2">保压时间s</td>
            <td *ngFor="let item of timeFormArray.controls; index as i" formArrayName="time">
              <div *ngIf="!appS.edit">{{timeFormArray.value[i]}}</div>
              <div *ngIf="appS.edit">
                <app-form-item [row]="true" [errorShow]="false">
                  <input type="number" nz-input [formControlName]="i">
                </app-form-item>
              </div>
            </td>
            <td>
              <div *ngIf="!appS.edit">{{stageGroup.get('uploadDelay').value}}</div>
              <div *ngIf="appS.edit">
                <app-form-item [row]="true" [errorShow]="false">
                  <input type="number" nz-input formControlName="uploadDelay">
                </app-form-item>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
