<form nz-form class="form-edit" [ngClass]="{'edit-on': appS.edit}"  [formGroup]="formData" [hidden]="!formData">
  <div>
    <app-form-item [row]="true" label="模板" [hidden]="!appS.edit">
      <nz-switch formControlName="template" nzCheckedChildren="是" nzUnCheckedChildren="否"></nz-switch>
    </app-form-item>
    <app-form-item label="梁号" [errors]="formData.get('name').errors">
      <input type="text" nz-input placeholder="请输入梁号" formControlName="name">
    </app-form-item>
    <app-form-item label="构建" [errors]="formData.get('component').errors">
      <nz-select style="width: 100%;" nzPlaceHolder="请选择构建" formControlName="component" (ngModelChange)="conponentChange($event)">
        <nz-option [nzValue]="item.value" [nzLabel]="item.label" *ngFor="let item of componentMneu$ | async"></nz-option>
      </nz-select>
    </app-form-item>
    <app-form-item label="梁长度" [errors]="formData.get('beamLength').errors">
      <input type="number" nz-input placeholder="请输入梁长度" formControlName="beamLength">
    </app-form-item>

    <app-form-item label="浇筑日期" [errors]="formData.get('castingDate').errors">
      <nz-date-picker formControlName="castingDate" placeholder="浇筑日期"></nz-date-picker>
    </app-form-item>
    <app-form-item label="张拉日期" [errors]="formData.get('tensinDate').errors">
      <nz-date-picker formControlName="tensinDate" placeholder="张拉日期"></nz-date-picker>
    </app-form-item>

    <app-form-item label="压浆顺序">
      <input type="text" nz-input formControlName="sort">
    </app-form-item>

    <app-form-item label="施工员">
      <input type="text" nz-input placeholder="施工员" formControlName="operator">
    </app-form-item>
    <app-form-item label="监理员">
      <input type="text" nz-input placeholder="监理员" formControlName="supervisors">
    </app-form-item>
    <app-form-item label="自检员">
      <input type="text" nz-input placeholder="自检员" formControlName="qualityInspector">
    </app-form-item>
  </div>
  <div>
    <app-add-other [formGroup]="formData" [data]="groutingTask?.otherInfo || []" [unDel]="unDel" [edit]="appS.edit"></app-add-other>
  </div>
  <div>
    <grouting-proportion [formGroup]="formData" [data]="groutingTask.proportionInfo"></grouting-proportion>
  </div>
  <div>
    <mixing-info [formData]="formData" [data]="groutingTask"></mixing-info>
  </div>
  <div>
    <grouting-record [formData]="formData" [data]="groutingTask"></grouting-record>
  </div>
  <div class="edit" *ngIf="!appS.edit"></div>
</form>
