<app-left>
  <div class="sider sider-menu">
    <task-menu style="overflow: hidden;" dbNmae="grouting" (menuChange)="onBridge($event)" #taskmenu></task-menu>
  </div>
  <div class="main" style="width: 100%;">
    <div *ngIf="data?.template" class="template">
      <div class="text">模板</div>
    </div>
    <nz-tabset class="task-tabset" (nzSelectChange)="changeTabs($event)">
      <nz-tab nzTitle="基础信息">
        <div class="form-edit">
          <grouting-mian [formData]="formData" [groutingTask]="data" (outSelectComponent)="selectComponent($event)" [edit]="appS.edit"></grouting-mian>
          <div class="edit" [ngClass]="{'edit-on': appS.edit}" *ngIf="!appS.edit"></div>
        </div>

        <div class="operation" *ngIf="taskmenu?.project?.select">
          <app-operat [dbName]="dbName" [formData]="formData" (outEdit)="onEdit($event)" (outEditOk)="editOk($event)"
            (outDelete)="delete()"
            [addFilterFun]="addFilterFun" [updateFilterFun]="updateFilterFun"
            [coprState]="true"
            >
            <button nz-button nzType="primary" (click)="upload()" [disabled]="!(data?.groutingInfo?.length > 0) || !uploading"><i nz-icon nzType="cloud-upload"
              nzTheme="outline"></i>上传</button>
          </app-operat>
        </div>

        <!-- <app-delete-modal *ngIf="deleteShow" (outDelete)="deleteOk($event)"></app-delete-modal> -->
      </nz-tab>
      <nz-tab nzTitle="其他">
        <p>创建者：{{data?.user}}</p>
        <p>创建日期：{{data?.createdDate | date: "yyyy.MM.dd HH:mm"}}</p>
        <p>修改日期：{{data?.modificationDate | date: "yyyy.MM.dd HH:mm"}}</p>
      </nz-tab>
    </nz-tabset>
  </div>
</app-left>
<app-delete-modal *ngIf="deleteShow" (outDelete)="deleteOk($event)"></app-delete-modal>
<!-- <app-grouting-template *ngIf="groutingTemplateShow" [projectId]="taskMenuDom.project.select.id"
  (selectOut)="selectGroutingTemp($event)" (cancel)="groutingTemplateShow=false"></app-grouting-template> -->
