form {
  display: flex;
  flex-direction: column;
  .other-edit {
    .form-item {
      min-width: 100%;
    }
  }
  input.error, input.error:focus, input.error:hover{
    border-color: #ff4d4f;
    border-right-width: 1px !important;
  }
}
