<div class="content">
  <header>
    <div *ngIf="PLCS.data">
      正在张拉：
      <nz-alert nzType="info" [nzMessage]="data.component"></nz-alert>
      <nz-alert nzType="info" [nzMessage]="holeData.name"></nz-alert>
      &nbsp;&nbsp;设备：
      <nz-alert nzType="warning" [nzMessage]="task.device.name"></nz-alert>
      <nz-alert nzType="warning" [nzMessage]="task.device.name"></nz-alert>
      <nz-alert nzType="warning" [nzMessage]="jackModeStr"></nz-alert>
      &nbsp;&nbsp;张拉阶段：
      <nz-alert nzType="success" [nzMessage]="liveData.stage !== null ? task.stage.msg[liveData.stage] : '未开始张拉'">
      </nz-alert>
    </div>
    <nz-alert nzType="error" nzMessage="设备链接有误！！" *ngIf="!plcState"></nz-alert>
    <nz-alert nzType="error" nzMessage="没有张拉任务" *ngIf="!PLCS.data"></nz-alert>
    <button nz-button nzType="primary" (click)="switchHole(holeIndex)" *ngIf="!liveData.run">更换张拉组</button>
    <button nz-button nzType="primary" (click)="test()" [disabled]="!plcState"
      *ngIf="appS.platform === 'debug'">{{ liveData.state ? '停止' : '开始'}}</button>

  </header>
  <main>
    <table class="gridtable">
      <thead>
        <tr>
          <th width="100">顶</th>
          <th width="100">压力(MPa)</th>
          <th width="100">力(KN)</th>
          <th width="140">回程压力(MPa)</th>
          <th width="100">位移(mm)</th>
          <th width="140">绝对位移(mm)</th>
          <th>状态</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let key of strMode">
          <td class="key">{{key}}</td>
          <td class="mpa-color">{{liveData[key][0] | ToFixedr}}</td>
          <td class="kn-color">{{liveData[key][1] | ToFixedr}}</td>
          <td class="mpa-color">{{liveData[key][2] | ToFixedr}}</td>
          <td class="mm-color">{{liveData[key][3] | ToFixedr}}</td>
          <td >{{liveData[key][4] | ToFixedr}}</td>
          <td style="display: flex;">
            <nz-alert nzType="error" *ngIf="plcState && liveData[key][5] >= 70 " [nzMessage]="alarm[liveData[key][5] | ToFixedr: 0]">
            </nz-alert>
            <nz-alert nzType="info" *ngIf="plcState && liveData[key][5] < 70 " [nzMessage]="alarm[liveData[key][5] | ToFixedr: 0]">
            </nz-alert>
            <nz-alert nzType="error" nzMessage="设备链接有误！！" *ngIf="!plcState"></nz-alert>
          </td>
        </tr>
      </tbody>
    </table>
    <nz-anchor [nzTarget]="con" class="tension-live" [nzShowInkInFixed]="false" (nzClick)="switchItem($event)"
      (nzScroll)="switchItem($event)">
      <nz-link nzHref="#task" [nzTitle]="taskT"></nz-link>
      <nz-link nzHref="#record" [nzTitle]="recordT"></nz-link>
      <nz-link nzHref="#csv" [nzTitle]="csvT"></nz-link>
    </nz-anchor>
    <div #con class="con">
      <div style="flex: 1;">
        <div id="task">
          <h1 *ngIf="!data">没有数据</h1>
          <nz-divider nzText="任务数据"></nz-divider>
          <table class="gridtable" *ngIf="data">
            <thead>
              <tr>
                <th colSpan="2">张拉任务</th>
                <ng-container *ngFor="let item of task.stage.msg; index as i">
                  <th [ngClass]="{
                      'twice': item === '阶段二' && task.twice, 'super': task.superState && item === '超张拉',
                      'mend': task.mend && item === '补张拉'
                    }">
                    <span class="stage-active" *ngIf="liveData.stage === i"></span>
                    <span class="text">{{item}}</span>
                  </th>
                </ng-container>
                <th width="100">卸荷</th>
                <th width="100">回缩量mm</th>
                <th width="100">工作长度mm</th>
                <th width="100">理论申长量mm</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td width="65">孔号</td>
                <td width="65">阶段%</td>
                <td *ngFor="let item of task.stage.knPercentage; index as i">
                  {{item}}
                </td>
                <td>
                  {{task.stage.uploadPercentage}}
                </td>
              </tr>
              <tr *ngFor="let key of strMode; index as keyi">
                <td [attr.rowspan]="holeNames.span" *ngIf="holeNames.keys.indexOf(key) !== -1">{{holeNames[key]}}
                </td>
                <td>{{key}}</td>
                <td *ngFor="let stage of task.stage.knPercentage">
                  <div class="kn-color">{{(task.tensionKn * (stage / 100)) | ToFixedr}}<sub>kn</sub> </div>
                  <div class="mpa-color">{{(task.tensionKn * (stage / 100)) | kn2mpa: task.device: key}}<sub>mpa</sub> </div>
                </td>
                <td>
                  <div class="kn-color">{{(task.tensionKn * (task.stage.uploadPercentage / 100)) | ToFixedr}}<sub>kn</sub>
                  </div>
                  <div class="mpa-color">
                    {{(task.tensionKn * (task.stage.uploadPercentage / 100)) | kn2mpa: task.device: key}}<sub>mpa</sub>
                  </div>
                </td>
                <ng-container>
                  <td>
                    {{task.stage[key].reboundMm}}
                  </td>
                  <td>
                    {{task.stage[key].wordMm}}
                  </td>
                  <td [attr.rowspan]="holeNames.span" *ngIf="holeNames.keys.indexOf(key) !== -1">
                    {{task.stage[key].theoryMm}}
                  </td>
                </ng-container>
              </tr>
              <tr>
                <td colSpan="2">保压时间s</td>
                <td *ngFor="let item of task.stage.time; index as i">
                  {{item}}
                </td>
                <td>
                  {{task.stage.uploadDelay}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="record" *ngIf="record?.groups">
          <nz-divider nzText="记录"></nz-divider>
          <table class="gridtable">
            <thead>
              <tr>
                <th colSpan="2">张拉记录</th>
                <th *ngFor="let msg of record.groups[0].msg; index as msgi" [ngClass]="{
                      'twice': msg === '阶段二' && twice, 'super': superState && msg === '超张拉',
                      'mend': mend && msg === '补张拉'
                    }">
                  <span class="stage-active" *ngIf="liveData.stage === msgi"></span>
                  <span class="text">{{msg}}</span>
                </th>
                <th width="100">卸荷</th>
                <th width="100">力筋回缩量</th>
                <th width="100">伸长量mm</th>
                <th width="100">偏差率%</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td width="65">孔号</td>
                <td width="65">阶段%</td>
                <td *ngFor="let kn of record.groups[0].knPercentage; index as kni">
                  {{kn}}
                </td>
                <td>
                  {{record.groups[0].uploadPercentage}}
                </td>
              </tr>
              <tr *ngFor="let jackName of strMode; index as keyi">
                <td [attr.rowspan]="holeNames.span"
                  *ngIf="(holeNames.span === 2 && jackName.indexOf('1') > -1) || holeNames.span === 1">
                  {{holeNames[jackName]}}</td>
                <td>{{jackName}}</td>
                <td *ngFor="let mpa of record.groups[0].knPercentage; index as mpai">
                  <div class="kn-color">{{record.groups[0][jackName].mpa[mpai] || 'NaN' | mpa2kn: task.device: jackName}}<sub>kn</sub>
                  </div>
                  <div class="mpa-color">{{record.groups[0][jackName].mpa[mpai] || 'NaN'}}<sub>mpa</sub></div>
                  <div class="mm-color">{{record.groups[0][jackName].mm[mpai] || 'NaN'}}<sub>mm</sub></div>
                </td>
                <td>
                  <div class="kn-color">{{record.groups[0][jackName].initMpa | mpa2kn: task.device: jackName}}<sub>kn</sub> </div>
                  <div class="mpa-color">{{record.groups[0][jackName].initMpa}}<sub>mpa</sub></div>
                  <div class="mm-color">{{record.groups[0][jackName].initMm}}<sub>mm</sub></div>
                </td>
                <td>
                  {{recordCalculate.stage[0][jackName].Sn}}
                </td>
                <td [attr.rowspan]="holeNames.span"
                  *ngIf="(holeNames.span === 2 && jackName.indexOf('1') > -1) || holeNames.span === 1">
                  {{holeNames.span === 2 ? recordCalculate[jackName + 'LZ'] : recordCalculate.stage[0][jackName].LZ}}
                </td>
                <td [attr.rowspan]="holeNames.span"
                  *ngIf="(holeNames.span === 2 && jackName.indexOf('1') > -1) || holeNames.span === 1">
                  {{holeNames.span === 2 ? recordCalculate[jackName + 'DR'] : recordCalculate.stage[0][jackName].DR}}
                </td>
              </tr>
              <tr>
                <td colSpan="2">保压时间s</td>
                <td *ngFor="let time of record.groups[0].time; index as timei">
                  {{time}}
                </td>
                <td>
                  {{record.groups[0].uploadDelay}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="csv">
          <nz-divider nzText="曲线"></nz-divider>
          <echarts-dynamic-line-tension [key]="'mpa'" [text]="'压力'" [strMode]="strMode" *ngIf="true" [subWidth]="0"
            [data]="record.groups[0].datas" [live]="record.groups[0].datas[strMode[0]].mpa.length"
            [satrtDate]="liveData.sratrTime">
          </echarts-dynamic-line-tension>
          <echarts-dynamic-line-tension [key]="'mm'" [text]="'位移'" [strMode]="strMode" *ngIf="true" [subWidth]="0"
            [data]="record.groups[0].datas" [live]="record.groups[0].datas[strMode[0]].mpa.length"
            [satrtDate]="liveData.sratrTime"></echarts-dynamic-line-tension>
        </div>
      </div>
    </div>
  </main>
</div>

<ng-template #taskT>
  <button nz-button [nzType]="nzHref === '#task' ? 'primary' : 'dashed'">
    <i nz-icon nzType="form" nzTheme="outline"></i>任务
  </button>
</ng-template>
<ng-template #recordT>
  <button nz-button [nzType]="nzHref === '#record' ? 'primary' : 'dashed'">
    <i nz-icon nzType="file-done" nzTheme="outline"></i>记录
  </button>
</ng-template>
<ng-template #csvT>
  <button nz-button [nzType]="nzHref === '#csv' ? 'primary' : 'dashed'">
    <i nz-icon nzType="line-chart" nzTheme="outline"></i>曲线
  </button>
</ng-template>
<nz-modal [(nzVisible)]="tensionSuccess" nzTitle="下载数据" [nzFooter]="btng" nzMaskClosable nzWidth="90%">
  <div [hidden]="downState" *ngIf="tensionSuccess">
    <nz-form-item>
      <nz-radio-group [nzButtonStyle]="'solid'" class="hole-groups">
        <label nz-radio-button [nzValue]="item" *ngFor="let item of groupNames; index as i" (click)="switchHole(i)"
          [ngClass]="{'hole-active': i === holeIndex}" [class]="'hole' + item.state">
          <div *ngIf="item.uploading" class="template"></div>
          {{item.name}}
        </label>
      </nz-radio-group>
    </nz-form-item>
    <table class="gridtable" *ngIf="data">
      <thead>
        <tr>
          <th colSpan="2">张拉任务</th>
          <ng-container *ngFor="let item of task.stage.msg; index as i">
            <th [ngClass]="{
                  'twice': item === '阶段二' && task.twice, 'super': task.superState && item === '超张拉',
                  'mend': task.mend && item === '补张拉'
                }">
              <span class="stage-active" *ngIf="liveData.stage === i"></span>
              <span class="text">{{item}}</span>
            </th>
          </ng-container>
          <th width="100">卸荷</th>
          <th width="100">回缩量mm</th>
          <th width="100">工作长度mm</th>
          <th width="100">理论申长量mm</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="65">孔号</td>
          <td width="65">阶段%</td>
          <td *ngFor="let item of task.stage.knPercentage; index as i">
            {{item}}
          </td>
          <td>
            {{task.stage.uploadPercentage}}
          </td>
        </tr>
        <tr *ngFor="let key of strMode; index as keyi">
          <td [attr.rowspan]="holeNames.span" *ngIf="holeNames.keys.indexOf(key) !== -1">{{holeNames[key]}}
          </td>
          <td>{{key}}</td>
          <td *ngFor="let stage of task.stage.knPercentage">
            <div class="kn-color">{{(task.tensionKn * (stage / 100)) | ToFixedr}}<sub>kn</sub> </div>
            <div class="mpa-color">{{(task.tensionKn * (stage / 100)) | kn2mpa: task.device: key}}<sub>mpa</sub> </div>
          </td>
          <td>
            <div class="kn-color">{{(task.tensionKn * (task.stage.uploadPercentage / 100)) | ToFixedr}}<sub>kn</sub>
            </div>
            <div class="mpa-color">
              {{(task.tensionKn * (task.stage.uploadPercentage / 100)) | kn2mpa: task.device: key}}<sub>mpa</sub>
            </div>
          </td>
          <ng-container>
            <td>
              {{task.stage[key].reboundMm}}
            </td>
            <td>
              {{task.stage[key].wordMm}}
            </td>
            <td [attr.rowspan]="holeNames.span" *ngIf="holeNames.keys.indexOf(key) !== -1">
              {{task.stage[key].theoryMm}}
            </td>
          </ng-container>
        </tr>
        <tr>
          <td colSpan="2">保压时间s</td>
          <td *ngFor="let item of task.stage.time; index as i">
            {{item}}
          </td>
          <td>
            {{task.stage.uploadDelay}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div [hidden]="!downState">
    <nz-progress [nzPercent]="(upProgress / 8) * 100" nzType="circle" [nzWidth]="80"></nz-progress>
  </div>
</nz-modal>

<ng-template #btng>
  <button nz-button nzType="primary" (click)="selectOk()">确定</button>
  <button nz-button nzType="primary">退出</button>
</ng-template>
